<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/yangfu.css"/>
	</head>
	<body>
		<header>
			<ul class="margin">
				<li class="badge"> 
				<a href="http://www.pba.cn/user/login.html" class="top"><i>
					<img src="image/shop.png" class="shop"/>
				</i>购物车</a>
				<div class="yincang">
					<p>你的购物车空空如也</p>
				</div>
				</li>
			
				<li><a href="#" class="top">客服热线：400 - 7796 - 400</a></li>
				<li class="a1">|</li>
				<li><a href="#" class="top">帮助中心</a></li>
				<li class="a1">|</li>
				<li><a href="#" class="b2">我的PBA▼</a>
					<div class="xianshi">
						<p><a href="#">小心行事</a></p>
						<p><a href="#">小心行事</a></p>	
						<p><a href="#">小心行事</a></p>
						<p><a href="#">小心行事</a></p>
					</div>
				</li>
				<li class="a1">|</li>
				<li><a href="#" class="top">登录</a></li>
				<li class="a1">|</li>
				<li><a href="#" class="top">注册</a></li>
			</ul>
		</header>
		
		<nav>
			<div class="margin clear">
				<div class="nav-left">
					<a href="index.html" class="logo"><img src="image/logo.png"/></a>
				</div>
				<div class="nav-right">
					<ul>
						<li><a href="index.html" class="nav-t">所有商品</a></li>
						<li><a href="#" class="nav-t">养肤护肤</a></li>
						<li><a href="#" class="nav-t">彩妆香水</a></li>
						<li><a href="#" class="nav-t">工具洗护</a></li>
						<li><a href="#" class="nav-t">美容仪器</a></li>
						<li><a href="#" class="nav-t">美容食品</a></li>
						<li><a href="#" class="nav-t">新品上市</a></li>
						<li><a href="#" class="nav-t">顾问查询</a></li>
						
					</ul>
				</div>
				<div class="nav-form">
					<table class="sreach">
						<input type="search" class="sea" placeholder="搜索你需要的商品" />
						<input type="submit" class="sub" value=""/>
					</table>
				</div>
			</div>	
		</nav>
		<section id="commodity">
			<div class="cleansing margin clear">
				<ul>
					<li><a href="#" class="all"><p>首页  /所有商品 /洁面</p></a></li>
					<li><a href="#"><span>护肤:  &nbsp;洁面</span><i>|</i><p>爽肤水</p><i>|</i><p>爽肤水</p><i>|</i><p>爽肤水</p></a></li>
					<li><a href="#"><span>护肤:  &nbsp;洁面</span><i>|</i><p>爽肤水</p><i>|</i><p>爽肤水</p><i>|</i><p>爽肤水</p></a></li>
					<li><a href="#"><span>护肤:  &nbsp;洁面</span><i>|</i><p>爽肤水</p><i>|</i><p>爽肤水</p></a></li>
					<li><a href="#"><span>护肤:  &nbsp;洁面</span><i>|</i><p>爽肤水</p><i>|</i><p>爽肤水</p><i>|</i><p>爽肤水</p></a></li>
				</ul>
			</div>
			<div class="recommend margin clear">
				<h3>
					<a href="#">
						<p>推荐</p>
						<i>|</i>
						<p>价格从高到低</p>
						<i>|</i>
						<p>按最新</p>
					</a>	
				</h3>
			</div>
			<div class="show margin clear">
				<ul>
					<li>
						<a href="#" class="picture clear">
						<img src="http://appimg.pba.cn/2016/06/01/149ec022f6df65500af78bae0844815c.jpg!302.302" alt="PBA 棉柔美容洁面巾"/>
						</a>
						<a href="#" class="name">
							<p>PBA 棉柔美容洁面巾</p>
							<span>￥16.90</span>
						</a>
					</li>
					<li>
						<a href="#" class="picture">
						<img src="http://appimg.pba.cn/2016/05/31/13c14ac31d36e2a4ebaf6631b5b78354.jpg!302.302" alt="PBA 棉柔美容洁面巾"/>
						</a>
						<a href="#" class="name">
							<p>PBA 棉柔美容洁面巾</p>
							<span>￥16.90</span>
						</a>
					</li>
					<li>
						<a href="#" class="picture">
						<img src="http://appimg.pba.cn/2015/12/04/b8d7a7f97c6c196076acc11c876763f5.jpg!302.302" alt="PBA 棉柔美容洁面巾"/>
						</a>
						<a href="#" class="name">
							<p>PBA 棉柔美容洁面巾</p>
							<span>￥16.90</span>
						</a>
					</li>
					<li>
						<a href="#" class="picture">
						<img src="http://appimg.pba.cn/2016/05/31/13c14ac31d36e2a4ebaf6631b5b78354.jpg!302.302" alt="PBA 棉柔美容洁面巾"/>
						</a>
						<a href="#" class="name">
							<p>PBA 棉柔美容洁面巾</p>
							<span>￥16.90</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="page margin">
				<p>1</p>
			</div>
		</section>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<section id="footer">
		<div class="footer-top margin">
			<div class="left clear">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">营业执照</a></li>
					<li><a href="#">产品认正</a></li>
					<li><a href="#">品牌合作</a></li>
					<li><a href="#">网站地图</a></li>
					<li><a href="#">诚聘英才</a></li>
					<li><a href="#">快递查询</a></li>
					<li><a href="#">研发中心</a></li>
					<li><a href="#">化妆品查询</a></li>
				</ul>
				<img src="http://pbaimage.pba.cn/2014/new_pba/images/tag1.png"/>
				<img src="http://pbaimage.pba.cn/2014/new_pba/images/tag3.png"/>
				<img src="http://pbaimage.pba.cn/2014/new_pba/images/tag1.png"/>
				<img src="http://pbaimage.pba.cn/2014/new_pba/images/tag3.png"/>
				<img src="http://pbaimage.pba.cn/2014/new_pba/images/tag1.png"/>
			
			</div>	
			<div class="right clear">
				<ul>
					<li><img src="http://pbaimage.pba.cn/2014/new_pba/images/sevice.png"/></li>
				</ul>
			</div>	
		</div>
		<div class="footer-bottom margin">
			<span>COPYRIGHT @2004-2019 PBA化妆品 美妆商城 厦门美易在线科技股份有限公司版权所有 PBA.CN 闽ICP备00900392</span>
			<p><a href="#">闽公网安备 35020302000910号</a></p>
		</div>
	</section>
	</body>
</html>
